{% extends 'main_app/base.html' %}
{% load static %}

{% block content %}
    <h1 class="a_product__title">{{ title|capfirst }}, {{ user }}</h1>
    <div class="cabinet">
        {% include 'cabinet_app/includes/inc_menu.html' %}
        <div class="cabinet__my_products">
            {% include 'main_app/includes/inc_products.html' %}
            <div class="product_add_new">
                <a href="{% url 'cab_app:product_create' %}">Добавить новый продукт</a>
            </div>
        </div>
    </div>
{% endblock %}