{% extends 'main_app/base.html' %}
{% load static %}

{% block content %}
    <h1 class="a_product__title">{{ title|capfirst }} {{ object.name }}</h1>
    <div class="cabinet">
        {% include 'cabinet_app/includes/inc_menu.html' %}
        <div class="cabinet_content">
            <form class="profile_form"
                  action="{% url 'cab_app:product_update_title' object.id %}"
                  method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="profile_send">
                    <button type="submit">Сохранить</button>
                </div>
            </form>
        </div>
    </div>

    <div class="update_delete_product">
        <div class="profile_edit_link_">
            <a href="{% url 'cab_app:product_delete' object.id %}">Удалить все продукты {{ object.name }}</a>
        </div>
        <div class="profile_edit_link_">
            <a href="{% url 'cab_app:my_products' %}">Отмена</a>
        </div>
    </div>

{% endblock %}
