{% extends 'main_app/base.html' %}
{% load static %}

{% block content %}
    <h1 class="a_product__title">{{ title|capfirst }}, {{ user }}</h1>
    <div class="cabinet">
        {% include 'cabinet_app/includes/inc_menu.html' %}
        <div class="cabinet_content">
            {% if company %}
                <div class="product__label">
                    <img class="product__img" src="/media/{{ company.0.label }}"
                         alt="{{ company.0.name }}">
                </div>
                <div class="profile_company">
                    <p>Компания: <span>{{ company.0.name }}</span></p>
                    <p>Директор:
                        <span>
                                {{ company.0.company.last_name|title }}
                                {{ company.0.company.first_name|title }}
                                {{ company.0.company.patronymic|title }}
                            </span>
                    </p>
                    <p>ИНН: <span>{{ company.0.tax_id }}</span></p>
                    <p>E-mail: <span>{{ company.0.company.email }}</span></p>
                    <p>Описание: <span>{{ company.0.about_company }}</span></p>
                </div>
                <div class="profile_edit_link">
                    <a href="{% url 'cab_app:profile_update' company.0.id %}">Изменить</a>
                </div>
            {% elif company_not_active %}
                <div>
                    <div>
                        <h4>Данные вашей компании проходят проверку...</h4>
                    </div>
                    <div class="profile_company">
                        <p>Компания: <span>{{ company_not_active.0.name }}</span>
                        </p>
                        <p>Директор:
                            <span>
                                {{ company_not_active.0.company.last_name|title }}
                                {{ company_not_active.0.company.first_name|title }}
                                {{ company_not_active.0.company.patronymic|title }}
                            </span>
                        </p>
                        <p>ИНН: <span>{{ company_not_active.0.tax_id }}</span>
                        </p>
                    </div>
                </div>
            {% else %}
                <form class="profile_form" action="{% url 'cab_app:profile' %}"
                      method="post" enctype="multipart/form-data">
                    <h3>Заполните данные компании и отправьте на
                        подтверждение</h3>
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="profile_send">
                        <button type="submit">Отправить</button>
                    </div>
                </form>
            {% endif %}

        </div>
    </div>
{% endblock %}
