* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("/media/img/fon.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
}

.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.container {
    flex-grow: 1;
}

.step-links a {
    text-decoration: none;
}

.header {
    background-color: lightsteelblue;
    max-height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    position: fixed;
    z-index: 100;
}

.header img {
    height: 40px;
    object-fit: cover;
    align-items: stretch;
}

.header__icon {
    margin-left: 1em;
    margin-top: 0.5em;
}

.form__search {
    align-items: center;
}

.header__input {
    width: 150px;
    height: 20px;
    border-radius: 6px;
}

.header__button {
    border: 0;
    background-color: lightsteelblue;
}

.header__menu {
    text-decoration: none;
    color: black;
}

.header__login {
    text-align: right;
    margin-right: 1em;
    margin-top: 0.5em;
    text-decoration: none;
    align-items: center;
    transition: 0.5s;
}

.header__login :hover {
    transform: scale(1.2);
}

.header_img {
}

/*=================*/


.header a {
}

.dropdown {
    overflow: hidden;
}

.dropdown .drop__btn {
    font-size: 16px;
    border: none;
    outline: none;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdown-content {
    display: none;
    position: fixed;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 10px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    border-radius: 10px;
}

.dropdown-content a:hover {
    background-color: #ddd;
    color: cornflowerblue;
}

.dropdown-content-filter {
    position: fixed;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    z-index: 1;
}

.dropdown-content-filter p {
    font-weight: bold;
    font-size: large;
    float: none;
    color: black;
    padding: 10px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    border-radius: 10px;
}

.dropdown-content-filter span {
    float: none;
    color: cornflowerblue;
    padding: 10px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    border-radius: 10px;
}

.drop__btn:hover {
    color: grey;
}

.header__menu:hover {
    color: grey;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.active {
    color: grey;
}

.filter-controls label {
    font-size: 14px;
    line-height: 38px;
    vertical-align: top;
    cursor: pointer;
}

.filter-controls .min,
.filter-controls .max {
    width: 90px;
    padding-left: 25px;
}

.filter-controls input {
    width: 50px;
    margin: 0;
    font: inherit;
    color: cornflowerblue;
    background: none;
    border: none;
    outline: none;
    font-weight: bold;
}

.filter-controls ::-webkit-input-placeholder {
    color: grey;
}

.filter__button {
    padding: 5px;
    width: 100%;
    text-align: center;
}

.filter__clear {
    padding: 5px;
    width: 100%;
    text-align: center;
}

.filter__button button {
    background-image: linear-gradient(to right, #9EEFE1 0%, #4830F0 51%, #9EEFE1 100%);
    border: black solid 1px;
    padding: 5px;
    border-radius: 15px;
    font-weight: bold;
    transition: 0.5s;
}

.filter__clear a {
    background-image: linear-gradient(to right, #9EEFE1 0%, indianred 51%, #9EEFE1 100%);
    border: black solid 1px;
    padding: 3px;
    border-radius: 15px;
    font-weight: bold;
    transition: 0.5s;
    text-decoration: none;
}

.filter__button button:hover {
    transform: scale(1.05);
    color: red;
}

.filter__clear a:hover {
    color: blue;
}

/*sort*/

.sort {
    display: flex;
    justify-content: right;
    position: fixed;
    width: 90%;
}

.sort__text {
    color: cornflowerblue;
    font-size: 20px;
    font-weight: bold;
}

.content {
    margin: 80px 60px 0 60px;
}

/*products*/
.all_products {
    display: flex;
    justify-content: center;
    margin-right: 20%;
}

.categories {
    display: flex;
    justify-content: center;
    margin-right: 20%;
}

.product {
    width: 80%;
    height: 150px;
    border: 1px solid black;
    border-radius: 15px;
    box-shadow: 0 0 7px #666;
    display: flex;
    margin-top: 30px;
    align-items: center;
    justify-content: space-between;
}

.product__label {
    margin-left: 30px;
}

.product__img {
    width: 100px;
    height: 100px;
    border: black solid 1px;
    border-radius: 50%;
    box-shadow: 0 0 7px #666;
}

.product__company {
    font-size: x-large;
    font-style: oblique;
    text-decoration: none;
    color: orangered;
}

.product__company p {
    transition: 0.5s;
}

.product__company :hover {
    color: grey;
    transform: scale(1.05);
}

.product__info {
}

.product__info a:hover {
    color: grey;
}

.product__category {
    font-style: italic;
    font-size: larger;
}

.product__category span {
    font-style: normal;
}

.product__name {
    font-size: xx-large;
    color: red;
    text-decoration: none;
}

.product__name :hover {
    color: darkred;
    transform: scale(1.05);
}

.product__description {
    color: grey;
}


.product__info_2 {
}

.product__term span {
    font-size: x-large;
    color: red;
}

.product__price {
    color: black;
    font-size: large;
}

.product__price span {
    color: grey;
    font-size: medium;
}

.product__rate span {
    color: red;
}

.product__button {
    transition: 0.5s;
}

.product__button a {
    margin-right: 30px;
    text-decoration: none;
    border: 1px solid black;
    border-radius: 15px;
    padding: 5px;
    box-shadow: 0 0 7px #666;
    background-color: #5897fb;
    color: black;
    font-size: large;
    font-weight: bolder;
    background-image: linear-gradient(to right, #9EEFE1 0%, cornflowerblue 51%, #9EEFE1 100%);
}

.product__button :hover {
    color: grey;
}

/*a_product*/

.a_product__title {
    display: flex;
    justify-content: center;
}

.a_product__content {
}

.a_product__desc {
    display: flex;
}

.a_product__description {
    width: 100%;
    text-align: center;
    margin: auto;
}

.a_product__options {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}

.a_product__option {
}

.button_delete {
    display: flex;
    justify-content: space-around;
}

.button_delete a {
    color: red;
    text-decoration: none;
}

.a_product__option a {
    text-decoration: none;
    color: black;
}

.a_product__option a:hover {
    color: grey;
}

.a_product_button {
    text-align: center;
    margin: 5px;
    border: 1px solid black;
    border-radius: 15px;
    padding: 5px;
    box-shadow: 0 0 7px #666;
    background-color: #5897fb;
    background-image: linear-gradient(to right, #9EEFE1 0%, cornflowerblue 51%, #9EEFE1 100%);
}

.a_product_button button {
    width: 100%;
    border: none;
    background-image: linear-gradient(to right, #9EEFE1 0%, cornflowerblue 51%, #9EEFE1 100%);
    font-weight: bold;
}

.a_product_button :hover {
    color: grey;
}

#btn {
    z-index: 1;
}

#content_window {
    z-index: 10;
    display: none;
}

.a_product__form {
    width: 100%;
    text-align: center;
}

.a_product_button_form button {
    text-align: center;
    margin: 5px;
    border: 1px solid black;
    border-radius: 15px;
    padding: 5px;
    box-shadow: 0 0 7px #666;
    background-color: #5897fb;
    background-image: linear-gradient(to right, #9EEFE1 0%, cornflowerblue 51%, #9EEFE1 100%);
    font-weight: bold;
}

.a_product_button_form :hover {
    color: grey;
}

.thank_you {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    color: green;
    font-weight: bold;
}

.back {
    display: flex;
    justify-content: space-evenly;
    font-weight: bold;
}

.back a {
    text-decoration: none;
    color: black;
}

.back :hover {
    color: grey;
}

/*register*/

#id_Captcha_1 {
    text-transform: uppercase;
}

/*footer*/

.footer {
    color: slategrey;
    text-align: center;
    margin: 25px 0 25px 0;
}

/*Auth*/

.login_title {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.auth_form {
    display: flex;
    justify-content: center;
}

.auth_form p {
    font-style: oblique;
    font-weight: bold;
}

.form-control {
    display: flex;
    text-decoration: none;
    border: 1px solid black;
    border-radius: 15px;
    padding: 6px;
    margin: 5px;
    box-shadow: 0 0 7px #666;
    background-color: #B0E0E6;
    color: black;
    font-size: large;
}

.control__button {
    width: 100%;
    text-align: center;
}

.control__button a {
    text-decoration: none;
    font-size: inherit;
}

.control__button :hover {
    color: grey;
}

/*#id_Captcha_2 {*/
/*display: none;*/
/*}*/

.form-control__button {
    margin: 5px;
    padding: 3px;
    border: 1px solid black;
    border-radius: 15px;
    box-shadow: 0 0 7px #666;
    background-color: #B0E0E6;
    color: black;
    font-weight: bold;
    font-size: 20px;
    background-image: linear-gradient(to right, #9EEFE1 0%, cornflowerblue 51%, #9EEFE1 100%);
}

.register_valid {
    display: flex;
    justify-content: center;
}

/*cabinet*/
.cabinet {
    display: flex;
    justify-content: flex-start;
}

.cabinet_delete {
    display: flex;
    justify-content: center;
}

.cabinet_content{
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin: 20px;
}

.profile_form input[type="file"] {
    background-color: powderblue;
}

.profile_send {
    text-align: right;
    margin-right: 150px;
    margin-top: 20px;
}

.profile_send button {
    padding: 5px;
    border-radius: 10px;
    background-color: grey;
    font-weight: bold;
}

.profile_send button:hover {
    background-color: green;
}

.cabinet_menu {
    padding: 15px;
    background: white;
    width: 200px;
    height: auto;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, .1);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    /*position: fixed;*/
}

.cabinet_menu h3 {
    font-size: 16px;
    color: rgba(0, 0, 0, .6);
    margin: 0 0 10px;
    padding: 0 5px;
    position: relative;
}

.cabinet_menu h3:after {
    content: "";
    width: 6px;
    height: 6px;
    background: palevioletred;
    position: absolute;
    right: 5px;
    bottom: 2px;
    box-shadow: -8px -8px lightsteelblue, 0 -8px lightsteelblue, -8px 0 lightsteelblue;
}

.cabinet_menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    border-top: 1px solid rgba(0, 0, 0, .3);
}

.cabinet_menu li {
    margin: 12px 0 0 0;
}

.cabinet_menu a {
    text-decoration: none;
    display: block;
    font-size: 13px;
    color: rgba(0, 0, 0, .6);
    padding: 5px;
    position: relative;
    transition: .3s linear;
    border-radius: 10px;
}

.active_menu a {
    color: black;
    font-size: 15px;
}

.cabinet_menu li a span {
    color: red;
}

.cabinet_menu a:after {
    position: absolute;
    right: 5px;
    color: white;
    transition: .1s linear;
}

.cabinet_menu a:hover {
    background: lightsteelblue;
    color: white;
}

.profile_company {
    font-weight: bolder;
    margin: 10px 25px 0 25px;
    color: dimgrey;
}

.profile_company span {
    font-size: large;
    color: black;
}

.profile_edit_link {
    display: flex;
    align-items: end;
    justify-content: center;
}

.profile_edit_link_ {
    display: flex;
    align-items: end;
    justify-content: end;
}

.profile_edit_link a {
    text-decoration: none;
    color: dimgrey;
}

.profile_edit_link_ a {
    text-decoration: none;
    color: dimgrey;
}

.profile_edit_link a:hover {
    color: red;
}

.profile_edit_link_ a:hover {
    color: red;
}

.update_attention {
    display: flex;
    justify-content: center;
}

.update_attention a {
    text-decoration: none;
    color: red;
}

.update_attention a:hover {
    color: green;
}

.cabinet__my_products {
    width: 100%;
    padding-left: 50px;
}

.update_delete_product {
    display: flex;
    justify-content: space-evenly;
}

.product_add_new {
    display: flex;
        justify-content: end;
}

.product_add_new a {
    text-decoration: none;
    color: grey;
    font-weight: bold;
}

.product_add_new a:hover{
    color: green;
}