{% extends 'main_app/base.html' %}
{% load static %}

{% block content %}
    <h1 class="login_title">{{ title|title }}</h1>
    <div class="auth_form">
        <form action="{% url 'auth_app:login' %}" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="control__button">
                <button class="form-control__button" type="submit">Войти
                </button>
                <p>
                    <a href="{% url 'auth_app:register' %}">Зарегистрироваться?</a>
                </p>
            </div>
        </form>
    </div>
{% endblock %}
