{% load static %}
<a class="header__icon" href="{% url 'main_app:index' %}">
    <img class="header__img" src="{% static 'img/icon.svg' %}"
         alt="icon">
</a>

<a {% if request.resolver_match.url_name.split.0 == 'index' %}class="header__menu active"
   {% else %}class="header__menu"{% endif %}
   href="{% url 'main_app:index' %}">
    <h3>Главная</h3>
</a>

<a {% if request.resolver_match.url_name.split.0 == 'product' or request.resolver_match.url_name.split.0 == 'products' %}class="header__menu active"
   {% else %}class="header__menu"{% endif %}
   href="{% url 'main_app:products' %}">
    <h3>Продукты</h3>
</a>

<div class="dropdown header__menu">
    <button
            {% if request.resolver_match.url_name.split.0 == 'category' %}class="drop__btn active"
            {% else %}class="drop__btn"{% endif %}>
        <h3>Категории</h3>
    </button>
    <div class="dropdown-content">
        {% for category in categories %}
            <a href="{% url 'main_app:category' pk=category.id %}">{{ category }}</a>
        {% endfor %}
    </div>
</div>

<div class="dropdown header__menu">
    <button {% if request.resolver_match.url_name.split.0 == 'about' %}class="drop__btn active"
            {% else %}class="drop__btn"{% endif %}>
        <h3>О нас</h3>
    </button>
    <div class="dropdown-content">
        <a href="#">Контакты</a>
        <a href="#">Правовая информация</a>
        <a href="#">Политика конфиденциальности</a>
        <a href="#">Cookies</a>
        <a href="#">Обратная связь</a>
    </div>
</div>

{% include 'main_app/includes/inc_search.html' %}

<a class="header__login" href="{% url 'auth_app:login' %}">
    <img class="header__img" src="{% static 'img/user.svg' %}"
         alt="icon">
</a>