{% if page_obj %}
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
{#            <a href="?page=1">&laquo; first</a>#}
            <a href="?page={{ page_obj.previous_page_number }}"> ◀️ </a>
        {% endif %}

        <span class="current">
            Страница №{{ page_obj.number }}
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}"> ▶️ </a>
{#            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>#}
        {% endif %}
    </span>
</div>
{% endif %}