{% extends 'main_app/base.html' %}
{% load static %}

{% block content %}
    <h1 class="login_title">{{ title|capfirst }}</h1>
    <div class="auth_form">
        <p>Мы обязательно ответим на ваше обращение!</p>
    </div>
    <br>
    <div class="auth_form">
        <form action="#" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="control__button">
                <button class="form-control__button" type="submit">
                    Отправить
                </button>
            </div>
        </form>
    </div>
{% endblock %}
